{% extends 'portifolio/base.html' %}
{% load static %}
{% block title %}About me{% endblock %}
{% block content %}

<h1 class="about-header"><b>About me</b></h1>
<div class="about-div">
    <p class="about-texts">
        I am a Bachelor of Science in Environmental Health student in Tanzania and a passionate software developer. My portfolio showcases software development projects that merge technology with environmental health to create impactful solutions.
    </p>
    
    <p class="about-texts">
        Thank you for visiting. I look forward to collaborating on projects that drive positive change.
    </p>
    
</div>
{% endblock %}
