{% extends 'portifolio/base.html' %}
{% load static %}
{% block content %}
{% block title %} <head><title>About</title></head>{% endblock %}

<h1 class="about-header"><b>About me</b></h1>
<div class="about-div">
<p class="about-texts">
    I am a dedicated student pursuing a Bachelor of Science in Environmental Health in Tanzania, where my passion for the environment and public health comes to life. As a website developer, I seamlessly blend my technical skills with my fascination for Artificial Intelligence and Machine Learning. In addition, my experience as a researcher has honed my ability to delve into complex topics and discover innovative solutions.
</p>

<p class="about-texts">
    My journey into the world of technology and science has been complemented by my athletic side. When I'm not immersed in coding or conducting research, you can find me on the football field, honing my skills and enjoying the beautiful game. This balance between academics, technology, and sports fuels my drive to explore new frontiers in technology and its applications.
</p>

<p class="about-texts">
    In this portfolio, you will find examples of my web development projects, showcasing the intersection of technology and environmental health. My commitment to creating meaningful and impactful solutions is evident in every line of code I write. I believe that in the age of technology, innovation can be a powerful force for positive change in the world.
</p>

<p class="about-texts">
    Thank you for visiting my portfolio, and I look forward to connecting with you on projects that drive progress and make a difference.

</p>

<p class="about-texts">
    Feel free to reach out if you'd like to collaborate or learn more about my work. I'm always eager to explore new opportunities and share my knowledge.
</p>
</div>
{% endblock %}