{% extends 'portifolio/base.html' %}
{% load static %}
{% block title %}Contacts{% endblock %}
{% block content %}

<h1 class="services-style"><b>Contact Me</b></h1>
<p class="services-style">
    Feel free to get in touch with me if you have any questions, or you'd like to discuss a potential project. I'm always here to assist you.
</p>

<h1 class="services-style"> <b>Contact Information</b></h1>
<ul class="services-style">
    <li><b>Email:</b><a href="mailto:michaelmsita17@gmail.com">Gmail Me</a></li>
    <li><b>Phone:</b><a href="tel:+255612350807">+255612350807</a></li>
    <li><b>Location:</b> Dar-es-salaam, Tanzania</li>
    <li><b>Social Media:</b> You can also connect with me on <a href="http://github.com/Michy010">Github</a>, <a href="http://Twitter.com/Fine Tech"> Twitter</a>, </li>

</ul>

<h1 class="services-style">Business Hours</h1>
<p class="services-style">
    I'm generally available during these hours:
    <ul class="services-style">
        <li>Monday to Friday: 5:00 PM - 8:00 PM</li>
        <li>Weekends: 8:00 AM - 8:00 PM</li>
    </ul>
    <P class="services-style">
        Please note that responsible times may vary, but I strive to reply to all inquiries promptly.
    </P>
</p>
{% endblock %}
