{% extends 'portifolio/base.html' %}
{% block title %}Home - Msita-portifolio{% endblock %}
{% load static %}

{% block content %}
    <section id="welcome">
        <img src="{% static 'portifolio/img/welcome.jpg' %}" alt="Welcome Image">
        <h2>Welcome to My Portfolio!</h2>
        <p>Explore my journey in environmental health, technology, and graphics. Feel free to connect with me!</p>
        <div class="social-icons">
            <a href="https://www.linkedin.com/in/michael-msita-3a64b1292/" target="_blank"><i class="fab fa-linkedin"></i>linkedin</a>
            <a href="https://github.com/Michy010" target="_blank"><i class="fab fa-github"></i>github</a>
        </div>
    </section>

{% endblock %}

