{% extends 'portifolio/base.html' %}
{% load static %}
{% block content %}
{% block title %} <head><title>My portifolio</title></head>{% endblock %}

<div class="portfolio-block">
<ul>
    {% for project in projects%}
    <li class="remove-bullet">
        <h2>{{project.title}}</h2>
        <p>{{project.description}}</p>
        <img src="{{project.image.url}}" alt="{{project.title}} image" width="800">
        <p><b>Technologies Used:</b> {{project.technologies_used}}</p>
        <a href="{{project.website_link}}" target="_blank"><b>View Project</b></a>
    </li>
    {% empty %}
    <p>No projects in the portfolio yet.</p>
    {% endfor %}
</ul>
</div>
{% endblock %}