{% extends 'portifolio/base.html' %}
{% load static %}
{% block content %}
{% block title %} <head><title>Our services</title></head>{% endblock %}
<h1 class="services-style"><b>SERVICES</b></h1>
<p class="services-style">
    As a web developer, I offer a range of services to help you establish a strong online presence and achieve your goals. I combine my skills in website development with a deep understanding of the latest technologies to deliver high-quality solutions tailored to your needs.
</p>

<p class="services-style">
    <b>1. Website Design and development</b>
        <ul class="services-style">
            <li>Create modern and responsive websites that are visually appealing and user-friendly.</li>
            <li>Develop custom websites from scratch, ensuring a unique online identity for your brand.</li>
        </ul>
</p>

<p class="services-style">
    <b>2. E-Commerce solutions</b>
        <ul class="services-style">
            <li>Build secure and efficient online stores with payment gateway integration.</li>
            <li>Implement inventory management and product catalog systems to streamline your online sales.</li>
        </ul>
</p>

<p class="services-style">
    <b>3. Content Management System (CMS)</b>
        <ul class="services-style">
            <li>Set up and customize CMS platforms like WordPress, making it easy for you to manage your website's content.</li>
        </ul>
</p>

<p class="services-style">
    <b>4. Mobile-friendlyy Design </b>
        <ul class="services-style">
            <li>Optimize your website for mobile devices to reach a broader audience.</li>
            <li>Ensure seamless navigation and performance on smartphones and tablets.</li>
        </ul>
</p>

<p class="services-style">
    <b>5. Website Maintainance and Support </b>
        <ul class="services-style">
            <li>Providing ongoing support to keep your website running smoothly.</li>
            <li>Perform updates, security checks, and troubleshooting as needed</li>
        </ul>
</p>

<p class="services-style">
    <b>6. SEO and Digital Marketing integration </b>
        <ul class="services-style">
            <li>Enhence your website visibility in search engines</li>
            <li>Intergrate SEO best practices and digital Marketing tools for improved online reach</li>
        </ul>
</p>

<p class="services-style">
    <b>7. Custom Web Applications </b>
        <ul class="services-style">
            <li>Develop web based applications tailoored to your specific business needs.</li>
            <li>Ensure robust functionality and scalability.</li>
        </ul>
</p>






{% endblock %}