/* Styling the Menu bar */
.Menu {
    background-color:rgba(0, 0, 0, 1);
    position: sticky;
    position: -webkit-sticky;
    top: 10px;
    right: 0;
    width: 100%;
    height: 90px;
    z-index: 100;
    text-align: right;
}

.Menu ul {
    list-style-type: none;
    padding: 0;
    padding-top: 30px;
    padding-right: 15px;
}

.Menu li {
    display: inline;
    margin: 10px;
}

.Menu a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: blue;
}
a:active {
    color: blue;
}

/* Styling the introductory words in home page */
.blue-box {
    width: 75%;
    height: 100vh;
    position: absolute;
    top: 100px;
    right: 0;
    margin-right: 8px;
    float: right;
    background: linear-gradient( to right, darkblue, black);
}

#salute {
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: right;
    padding-right: 120px;
}

#career {
    color: blue;
    font-size: large;
    text-align: right;
    padding-right:120px;
}

/* Styling the front image */
.Image {
    height: 70vh;
    width: 300px;
    float: left;
    padding: 20px;
    border: 10px solid darkblue;
    border-style: outset;
    border-radius: 40px;
    position: absolute;
    top: 100px;
    margin-left: 90px;
    background-color: darkblue;
}

.photo {
    width: 300px;
    height: 70vh;
}

/* Css for icon links */
.contact-info a {
    color: blue;
    size: 700px;
    text-decoration: none;
    margin-right: 20px;
}

.contact-info a:hover {
    text-decoration: none;
    color: white;
}

.contact-info {
    padding-left: 500px;
}

/* Styling about page */
.about-header {
    padding-left: 60px;
}
.about-div {
    padding: 60px;
    padding-top: 0;
}
.about-texts {
    font-size: large;
    font-family: sans-serif;
}

/* Styling the services page */
.services-style {
    margin-left: 60px;
    margin-right: 80px;
    font-size: large;
    text-decoration: none;
}

/* Styling Contacts page*/
/* .services-style5 {
    margin-left: 60px;
    margin-right: 80px;
    font-size: large;
    text-decoration: ;
} */
